/* Balises générales */
header
{
    display:flex;
    justify-content: space-between;
}

nav li
{
    padding:20px;
}

nav a
{
    padding:20px;
}

nav a:hover
{
    border-top:#0065FC solid 2px;
}

h1, h2
{
    font-size:1.5em;
    margin:25px 0px 10px 0px;
}

h3
{
    font-size:1em;
}

p
{
    font-size:0.9em;
}

form
{
    width:300px;
}

main
{
    height:670px;
    justify-content: space-between;
}

aside
{
    border-radius:15px;
    padding:20px 30px 20px 30px;
    width:29%;
    height:600px;
}


/* En-tête et filtres */
/* Classes */
.mobileItems
{
    display:none;
}

.filters
{
    padding: 10px 20px 10px 50px;
}

.filters_circle
{
    width:43px;
    height:43px;
}

/* ID */
#filtersPart
{
    display:flex;
    align-items:center;
}

/* Icônes */
#mapMarkerIcon
{
    padding:9px;
}


/* Contenu hébergements */
/* Classes */
.whiteBorder
{
    width:30%;
    height:180px;
}

.accomodationsMarseilleAll_item_image
{
    max-height: 180px;
}

.horizontalArticle_text
{
    line-height:0.7em;
    border-radius: 0px 0px 5px 5px;
}

.accomodationsMarseillePopular_item 
{
    width:90%;
    height:150px;
}

.accomodationsMarseillePopular_item_image 
{
    height: 150px;
    left:0px;
    bottom:0px;
}

.accomodationsMarseillePopular_item_text 
{
    width:50%;
}

/* ID */
#sectionAccomodations
{
    background-color: #F2F2F2;
    border-radius:15px;
    padding:20px 30px 20px 30px;
    width:60%;
    height:600px;
}

#accomodationsMarseilleAll
{
    justify-content: space-between;
    align-content:space-around;
    height:450px;
}

#accomodationsMarseillePopular 
{
    flex-direction:column;
    height:550px;
}

#accomodationsMarseillePopular_title
{
    width:90%;
    align-items:baseline;
}


/* Contenu activités */
/* Classes */
.try2
{
    width:20%;
    height:380px;
}

.expandedArticle
{
    max-height:380px;
    width:20%;
    position:relative;
    overflow:hidden;
    overflow-x:hidden;
}

.contractedArticle
{
    height:45%;
    overflow:hidden;
}

.activities_item_image
{
    max-height:400px;
    width:500px;
    left:-50px;
}

/* ID */
#anchorActivities
{
    height:500px;
}


/* Footer */
.footerPart
{
    margin-right:20%;
}

.footerPart li
{
    padding-bottom:10px;
}

.footerMenu
{
    padding-left:0;
    height:50%;
}