body
{
    font-family:'Raleway', sans-serif;
    margin-left:30px;
    margin-right:30px;
}

header
{
    width:100%;
}

ul
{
    padding:0;
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav li
{
    width:50%;
    text-align: center;
    padding-bottom:10px;
    border-bottom:#f2f2f2 2px solid;
    color:black;
}

nav li:hover
{
    border-bottom:#0065FC solid 2px;
    color:#0065FC;
}

a
{
    color:black;
    text-decoration: none;    
}

nav p:hover
{
    border-bottom:#0065FC solid 2px;
    color:#0065FC;
}

h1, h2
{
    font-weight:bold;
    font-size:1.3em;
}

h3
{
    font-weight:bold;
    font-size:1em;
    margin-bottom:10px;
    margin-top:10px;
}

p
{
    font-size:0.9em;
    margin-top:0px;
}

strong
{
    font-weight:bold;
}

form
{
    border : 1px #F2F2F2 solid;
    border-radius:10px;
    display:flex;
    justify-content: space-between;
    width:90%;
    height:30px;
}

input
{
    height:95%;
    border:none;
    position:relative;
    top:-1px;
}

button
{
    height:101%;
    border: #0065FC solid 1px;
    color: white;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    background-color: #0065FC;
    position:relative;
    right:-1px;
}

main
{
    display:flex;
    flex-direction: column-reverse;
    margin-left:-30px;
    margin-right:-30px;
}

aside
{
    background-color: #F2F2F2;
}

article
{

}

.desktopItems
{
    display:none;
}

.fa-map-marker-alt
{
    border: #F2F2F2 solid 1px;
    border-radius:10px 0px 0px 10px;
    background-color: #F2F2F2;
    padding: 8px 10px 8px 10px;
    position:relative;
    left:-1px;
    font-size: 0.9em;
}

.filters
{
    border:2px solid rgba(128, 128, 128,0.3);
    border-radius: 25px;
    display:flex;
    align-items: center;
    padding-right:20px;
    height:38px;
}

.filters:hover
{
    border:3px solid rgba(128, 128, 128,0.3);
}

.filters_circle
{
    width:42px;
    height:42px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border-radius:50%;
    margin-right:15px;
    position:relative;
    left:-2px;
}

.filters_svg
{
    fill: #0065FC;    
}

.subscriptionLink
{
    position:absolute;
    top:25px;
    right:30px;
    font-weight:bold;
    color:#0065FC;
}

.accomodationsMarseillePopular_item
{
    border: white 5px solid;
    border-radius:20px;
    height:130px;
    width:80%;
    margin:auto;
    margin-top:0px;
    position:relative;
}

.accomodationsMarseillePopular_item_image
{
    height:130px;
    width:45%;
    border-radius:20px;
    position:absolute;
    top:0px;
    left: 0px;
}

.accomodationsMarseillePopular_item_text
{
    position:absolute;
    top:0px;
    right:0px;
    background-color:white;
    border-radius:0px 10px 10px 0px;
    width:60%;
    height:95%;
    z-index:1;
    line-height:1em;
    padding-bottom:10px;
    padding-left:10px;
    padding-top:0px;
}

#accomodationsMarseilleAll
{
    height:1150px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

.accomodationsMarseilleAll_item
{
    border: white 5px solid;
    border-radius:20px;
    box-shadow: 0px 0px 15px rgba(128, 128, 128,0.3);
    height:170px;
    width:100%;
    margin:auto;
    margin-top:0px;
    position:relative;
}

.accomodationsMarseilleAll_item_image
{
    width:100%;
    max-height:170px;
    border-radius:20px;
    position:absolute;
    top:0px;
    border-radius: 20px;
}

.accomodationsMarseilleAll_item_text
{
    position:absolute;
    bottom:0px;
    background-color:white;
    line-height:0.7em;
    width:96%;
    height:45%;
    z-index:1;
    border-radius: 0px 0px 10px 10px;
    padding-left:5%;
}

.blueStar
{
    fill:#0065FC;
}

.greyStar
{
    fill:rgba(128, 128, 128,0.3);
}

#filtersPart ul
{
    height:150px;
}

#info_svg
{
    background-color:#0065FC;
    fill:white;
    border-radius:50%;
}

#info
{
    display:flex;
}

#info_availableAccomodations
{
    margin-left:10px;
}

#accomodationsMarseillePopular /* à travailler */
{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    height:500px;
}

#sectionAccomodations
{
    margin-left:30px;
    margin-right:30px;
}