/* Balises */
body
{
    font-family:'Raleway', sans-serif;
    margin-left:30px;
    margin-right:30px;
}

header
{
    width:auto;
    display:flex;
    justify-content: space-between;
}

nav ul
{
    display:flex;
}

nav li
{
    list-style-type: none;
    padding:20px;
}

a
{
    color:black;
    text-decoration: none;
    padding:20px;
}

nav a:hover
{
    border-top:#0065FC solid 2px;
    color:#0065FC;
}

h1, h2
{
    font-weight:bold;
    font-size:1.5em;
}

h3
{
    font-weight:bold;
    font-size:1em;
}

p
{
    font-size:0.9em;
}

strong
{
    font-weight:bold;
}

form
{
    display:flex;
    border : 1px #F2F2F2 solid;
    border-radius:15px;
}

button
{
    background-color:#0065FC;
    border : 1px #F2F2F2 solid;
    border-radius:15px;
}

section
{
    display:flex;
    width:auto;
    height:670px;
    justify-content: space-between;
}

article
{
    background-color: #F2F2F2;
    border-radius:15px;
    padding:20px 30px 20px 30px;
    width:60%;
}

aside
{
    background-color: #F2F2F2;
    border-radius:15px;
    padding:20px 30px 20px 30px;
    width:29%;
}

footer
{
    background-color: #F2F2F2;
    display:flex;
}

a img
{
    width: 100%;
    max-height: 180px;
    position:absolute;
    top:0px;
    border-radius:20px;
}

/* Classes */
.accomodationsMarseille
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content:space-between;
    height:500px;
}

.accomodationsMarseille_item
{
    border: white 5px solid;
    border-radius:20px;
    position:relative;
    width:28%;
    height:200px;
}

.accomodationsMarseille_list_text
{
    background-color:white;
    line-height:0.4em;
    padding-left: 5%;
    padding-bottom:2%;
    width:95%;
    border-radius: 0px 0px 5px 5px;
    position:absolute;
    z-index:1;
    bottom:0;
}


#subscriptionLink
{
    font-weight:bold;
    color:#0065FC;
}
