/* Balises générales */
header
{
    display:flex;
    justify-content: space-between;
}

nav li
{
    padding:20px;
}

nav a
{
    padding:20px;
}

nav a:hover
{
    border-top:#0065FC solid 2px;
}

h1, h2
{
    font-size:1.5em;
    margin:25px 0px 10px 0px;
}

h3
{
    font-size:1em;
}

p
{
    font-size:0.9em;
}

form
{
    width:300px;
}

main
{
    height:670px;
    justify-content: space-between;
}

aside
{
    border-radius:15px;
    padding:20px 30px 20px 30px;
    width:29%;
    height:600px;
}


/* En-tête et filtres */
/* Classes */
.mobileItems
{
    display:none;
}

.filters
{
    padding: 10px 20px 10px 50px;
}

.filters_circle
{
    width:43px;
    height:43px;
}

/* ID */
#filtersPart
{
    display:flex;
    align-items:center;
}

/* Icônes */
#mapMarkerIcon
{
    padding:9px;
}


/* Contenu hébergements */
/* Classes */
.whiteBorder
{
    width:30%;
    height:180px;
}

.sectionAccomodationsAll_image
{
    max-height:300px;
    top:-150px;
    left:0px;
}

.horizontalArticle_text
{
    line-height:0.7em;
    border-radius: 0px 0px 5px 5px;
}

.sectionAccomodationsPopular_item
{
    width:90%;
    height:150px;
}

.sectionAccomodationsPopular_item_image
{
    height:149px;
}

.sectionAccomodationsPopular_item_text
{
    width:50%;
}

/* ID */
#sectionAccomodations
{
    background-color: #F2F2F2;
    border-radius:15px;
    padding:20px 30px 20px 30px;
    width:60%;
    height:600px;
}

#sectionAccomodationsAll
{
    justify-content: space-between;
    align-content:space-around;
    height:450px;
}

#sectionAccomodationsPopular
{
    flex-direction:column;
    height:550px;
}

#sectionAccomodationsPopular_title
{
    width:90%;
    align-items:baseline;
}


/* Contenu activités */
/* Classes */
.flexSections_contractedArticle
{
    width:25%;
    height:380px;
}

.expandedArticle
{
    max-height:380px;
    width:22%;
    position:relative;
    overflow:hidden;
    overflow-x:hidden;
}

.contractedArticle
{
    height:45%;
    overflow:hidden;
}

.horizontalArticleActivities_image
{
    max-height:600px;
    left:-180px;
}

.contractedArticle .horizontalArticleActivities_image
{
    position:absolute;
    min-width:800px;
    top:-200px;
}

/* ID */
#anchorActivities
{
    height:500px;
}


/* Footer */
.footerPart
{
    margin-right:20%;
}

.footerPart li
{
    padding-bottom:10px;
}

.footerPart_menu
{
    padding-left:0;
    height:50%;
}